@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

.div{
    display: flex;
    align-items: center;
}

.img{
    margin-right: 0.75rem/* 12px */;
    height: 3.5rem/* 24px */;
    color: white;
}

.span1{
    align-self: center;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 900;
    --tw-text-opacity: 1;
    color: rgb(245 158 11 / var(--tw-text-opacity));
    font-family: 'Outfit', sans-serif;
}

.span2{
    align-self: center;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 900;
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
    margin-left: -1rem/* -16px */;
    font-family: 'Outfit', sans-serif;
}

